body {
    background-color: rgb(48, 25, 116);
}

.sandybrown {
    background-color: rgb(93, 135, 163);
}
.text-sandybrown {
    color: rgb(93, 135, 163);
}
.tomato {
    background-color: rgb(48, 25, 116);
}

.blue {
    background-color: blue;
}

.palegreen {
    background-color: palegreen;
}

.blanchedalmond {
    background-color: blanchedalmond;
}
.text-blanchedalmond {
    color: blanchedalmond;
}

.gray {
    background-color: gray;
}
.text-gray {
    color: gray;
}

.logo {
    width: 75px;
}

.company-name {
    color: blanchedalmond;
}

.links {
    text-decoration: none;
    color: blanchedalmond;
}
.links:hover {
    color: blanchedalmond;
}

